<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ESCANEAR QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ESCANEAR QR</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- IMAGEN DE CAMARA -->
<div class="container start">
  <ion-img src="https://images.samsung.com/is/image/samsung/assets/es/support/mobile-devices/how-to-troubleshoot-camera-app-errors/reset-camera-app-01.png?$568_N_PNG$" style="height: 90vh; max-width: 800vh;">
  </ion-img>
</div>

<!-- FIN DE CONTENEDOR -->
</ion-content>
