<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  
<!-- HEADER LOGO DUOC -->
  <div class="container">
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1067px-Logo_DuocUC.svg.png" style="height: 20vh; max-width: 250vh;">
    </ion-img>
  </div>

<!-- INICIO DEL CARD -->
  <ion-card style="height: 60vh; max-width: auto;">

<!-- TEXTO CABECILLA -->    
    <ion-col>
        <ion-row class="ion-justify-content-center">
          <h1>
            <strong>
              ¿Cómo inicias sesión?
            </strong>
          </h1>
      </ion-row>
    </ion-col>

<!-- BOTÓN DOCENTE -->
    <ion-col>
      <ion-row class="ion-justify-content-center">
        <div class="container">
          <ion-toolbar>
              <ion-button fill="solid" [routerLink]="['/login/docente']" style="height: 10vh; width: 30vh;">
                <ion-icon slot="start" name="person-circle"></ion-icon>
                Docente
              </ion-button>
          </ion-toolbar>
        </div>
      </ion-row>
    </ion-col>

<!-- BOTÓN ALUMNO -->
    <ion-col>
      <ion-row class="ion-justify-content-center">
        <div class="container">
          <ion-toolbar>
              <ion-button fill="solid" [routerLink]="['/login/alumno']" style="height: 10vh; width: 30vh;" >
                <ion-icon slot="start" name="person-circle"></ion-icon>
                Alumno
              </ion-button>
          </ion-toolbar>
        </div>
      </ion-row>
    </ion-col>
    
<!-- RECUPERAR CONTRASEÑA -->
    <ion-col>
      <ion-row class="ion-justify-content-center">
        <ion-item [routerLink]="['/login/recuperar']">
          <p style="color: blue;">
              ¿Olvidaste tu contraseña?
          </p>
        </ion-item>
      </ion-row>
    </ion-col>

<!-- TERMINO DEL CARD -->
  </ion-card>

<!-- FIN DEL CONTENIDO -->
</ion-content>